* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: libre_caslon_text;
}

body {
    position: relative;
    min-height: 100dvh;
    background-color: bisque;
}

@font-face {
    font-family: 'Libre_Caslon_Text';
    src: url(../assets/font/Libre_Caslon_Text/LibreCaslonText-Bold.ttf) format('truetype');
    font-style: bold;
    font-weight: 500;
}

main {
    flex: 1;
}

header {
    background-color: #F08832;
    height: 100px;
    width: 100%;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px 10px 40px;
}

main {
    display: flex;
    align-items: flex-start;
}

li{
    display: flex;
    justify-content: center;

}

h1{
    font-size: 48px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

h3{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: underline;
}

span {
    font-size: 16px;
}

p {
    font-size: 16px;
}

button,
.main_btn,
.main_btn_category,
.order_btn,
.close_btn {
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
    padding: 35px;
    background-color: #F08832;

}

.footer_links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer_span{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}