header {
    background-color: #F08832;
    height: 100px;
    width: 100vw;
    position: fixed;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px 10px 40px;
}

.shopping-cart {
    position: relative;
}

.shopping-cart span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 60%;
    right: -16px;
}

.fa-shopping-cart {
    color: white;
}

.fa-shopping-cart:hover {
    box-shadow: rgb(136, 135, 135, 0.5);
    transform: scale(1.03);
}

.logo {
    height: 80px;
}


.mainImage {
    height: 300px;
    width: 100%;
    padding-top: 100px;
    background-image: url(../img/steak.jpg);
    background-size: cover;
    background-position: center;
}


.restaurant_information {
    padding: 40px 40px;
}

.restaurant_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 32px;
}

.Restaurant_Title {
    margin: 0;
}

.stars {
    margin-top: 10px;
    font-size: 14px;
}

.rating {
    margin-right: 10px;
}



.main_btn {
    background-color: lightgray;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 50px;
}

.main_btn:hover {
    box-shadow: rgb(136, 135, 135, 0.5);
    transform: scale(1.03);
}


.about_overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.about_overlay.show {
    display: flex;
}

.about_content {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    position: relative;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
}



.select_category {
    padding: 0px 40px;
    gap: 40px;
}

.main_btn_category {
    background-color: rgb(60, 57, 57);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 50px;
}

.main_btn_category:hover {
    box-shadow: rgb(136, 135, 135, 0.5);
    transform: scale(1.03);
}


#main_menu {
    padding: 40px 40px;
}

.select_menu {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    border-bottom: 1px solid #b3b1b1;
    border-top: 1px solid #b3b1b1;
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0.5px solid rgb(135, 132, 132);
    color: #F08832;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}